.about {
    height: 80vh;
}
.container {
    position: absolute;
    width: 501px;
    height: 501px;
    border-radius: 99999px;
    top: 100vh;
    left: 5vw;
    border-radius: 501px;
    /* background-color: red; */
    background-image: url(../../img/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.first, .second, .third {
    position: absolute;
}

.first {
    left: 90px;
}

.second {
    top: 185px;
}

.third {
    top: 297px;
    left: 200px;
}

.first path:hover, .second path:hover, .third path:hover {
    fill: red;
}

.text-overlay {
    position: absolute;
    left: 600px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 999;
}

.text-overlay-2 {
    position: absolute;
    top: 40vh;
    left: 600px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 999;
}

.text-info {
    width: 40rem;
    background-color: rgba(255, 255, 255, 0.12);
    padding: 2% 4%;
    border-radius: 10px;
}

.text-info h1 {
    font-size: 150%;
    margin-bottom: 2%;
    font-weight: 800;
}


