.sampleCards {
    margin-top: 3%;
    margin-bottom: 10%;
    display: inline-block;
    width: 1440px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.scroll-comp {
    width: 1800px;
}

.scroll-comp svg {
    margin: 0 0.7%;
}

.sampleCards::-webkit-scrollbar {
    width: 0;
  }