.notification {

    color: white;
    padding: 0;
    margin: 10px;
    transition: all 0.3s;
    opacity: 0;
    z-index: 999;
}

.visible-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    position: absolute;
    top: 0px;
    right: 10px;
}

.closeBtn {
    background-color: white;
    padding: 25px;
    color: black;
    font-size: 120%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    text-transform: uppercase;
}



.notification.opening {
    animation: openNotification 0.3s ease-in-out forwards;
    opacity: 1;
}

.notification.closing {
    animation: closeNotification 0.3s ease-in-out forwards;
}

@keyframes openNotification {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes closeNotification {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}

button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.textNtfy {
    height: 100%;
    padding: 25px;
    color: white;
    font-size: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
}