.side-bar {
    height: 35vh;
    width: 15rem;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0% 2%;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.addBtn {
    cursor: pointer;
    border: none;
    background-color: #2E8B57;
    height: 2rem;
    border-radius: 15px;
    transition: .3s;
    color: white;
    font-size: 100%;
    font-weight: 800;
    margin-bottom: 1rem;
}

.addBtn:hover {
    background-color: #1a6f3f;
}

.side-bar-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 110%;
    font-weight: 500;
    cursor: pointer;
    padding: 2% 5%;
    border-radius: 15px;
    transition: .3s;
}

.side-bar-link:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.active-class {
    background-color: rgba(255, 255, 255, 0.3);
}


.side-bar form {
    margin-top: 5%;
    width: 25rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.side-bar input {
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 100%;
    width: 100%;
}

.submit {
    margin-top: 5%;
    cursor: pointer;
    border: none;
    background-color: #2E8B57;
    height: 2rem;
    border-radius: 15px;
    transition: .3s;
    color: white;
    font-size: 110%;
    font-weight: 800;
}

.submit:hover {
    background-color: #1a6f3f;
}

.non-active-class button {
    display: none;
}

.side-bar-link button {
    border: none;
    background: none;
    cursor: pointer;
}

.side-bar-link button img {
    width: 20px;
    height: 20px;
    transition: .2s;
}

.side-bar-link button img:hover {
    transform: scale(1.1);
}