.background {
    width: 100%;
    height: auto;
    position: relative;
    display: inline-block;
}

.text-overlay {
    width: 50%;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 15%;
    right: 1%;
    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 5px;
    text-align: left;
}