.party {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

/* 
.participant {
    margin: 0 20px;
    display: flex;
    flex-direction: row;
} */

.team {
    text-align: center;
    padding: 20px 0;
}

.team {
    width: 100%;
    background-color: rgba(28, 28, 28, 0.5);
    /* margin: 0 auto 10px auto; */
}

.team h1 {
    font-size: 150%;
    margin-bottom: 2%;
    font-weight: 800;
}

.participant {
    display: flex;
    align-items: center;
    margin: 0 20px;
    padding: 10px;
    border-radius: 10px;
}

.participant:hover{
    background-color: black;

}

.icon {
    width: 40px;
    margin-right: 10px;
}

.info {
    display: flex;
    align-items: center;
}

.text {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: inherit;
}