.markersTabHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

.markersTabHeader h3 {
    font-size: 1.2rem;
}

.markersTabHeader button {
    background: none;
    border: none;
    cursor: pointer;
}

.markersTabHeader img {
    width: 1.5rem;
    height: auto;
    cursor: pointer;
}