.markersTabHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

.markersTabHeader h3 {
    font-size: 1.2rem;
}