.control {
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 2%;
}

.rover-info {
    margin-top: 4rem;
    margin-left: 2%;
}

.rover-info-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.rover-info-div p {
    display: flex;
    flex-direction: row;
    gap: 20px;
}